---
Title: Cake.Ember
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        Cake.Ember is an Addin for <a href="http://cakebuild.net/">Cake</a> which allows execution of the <a href="https://ember-cli.com/">Ember CLI.</a>.
    </p>
</div>